@using System.Data
@model System.Data.DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        <form method="post" name="Display">
            <h2>HOME</h2>
            @Html.ActionLink("Add a new book","Insert")
            @Html.ActionLink("Update a book","Edit")

            @{
            if (Model.Rows.Count > 0)
            {
                <table border="1">
                    <thead>
                        <tr>
                            <td>Book</td>
                            <td>Title of the book </td>
                            <td>Author</td>
                            <td>Price</td>
                        </tr>
                    </thead>
                    @foreach(DataRow dr in Model.Rows)
                {
                <tr>
                    <td>@dr["BookId"].ToString()</td>
                    <td>@dr["Title"].ToString()</td>
                    @*<td>@dr["AuthorID"].ToString()</td>*@
                    <!--change-->
                    <td>@dr["AuthorName"].ToString()</td>
                    <td>@dr["Price"].ToString()</td>
                    <td>@Html.ActionLink("Update","UpdateBook",new { BookId = dr["BookId"].ToString()})</td>
                    <td>@Html.ActionLink("Delete","Delete",new { BookId = dr["BookId"].ToString()} )</td>
                </tr>
                }
                </table>
            }
            }
        </form>
    </div>
</body>
</html>
